/****************************************公共默认样式********************************************/

html,
body {
	font-family: 'PingFangTC-Regular', 'pingfang SC', 'STHeitiSC-Light', 'Helvetica-Light', arrial, sans-serif;
}
body {
	/*height: 100vh;
	overflow: hidden;*/
}
input,
button,
textarea,
select,
div {
	outline: none;
	box-sizing: border-box;
}
.hidden {
	display: none;
}
img{
	display: block;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}
.clearfix{
    zoom: 1;
}


/*首页*/
.container {
	max-width: 768px;
	height: 100vh;
	margin: 0 auto;
	overflow: auto;
	position: relative;
	background: url(../img/index-bg@2x.png) no-repeat;
	background-size: cover;
}
.head-area.head-portrait-bg {
	margin: 16px auto auto 10px;
	padding: 18px 24px 18px 12px;
	width: 203px;
	height: 94px;
	background: url(../img/index-head-bg@2x.png) no-repeat;
	background-size: cover;
}
.head-area .head-portrait{
	margin-right: 8px;
	float: left;
}
.head-area .head-info{
	float: left;
}
.head-area .head-info .head-info-item{
	width: 90px;
	height: 20px;
	padding: 0 8px 0 25px;
	position: relative;
}
.head-area .head-info .head-info-item.info-item-user{
	background: url(../img/index-head-info-bg-01@2x.png) no-repeat;
	background-size: 100% 100%;
}
.head-area .head-info .head-info-item.info-item-saled{
	background: url(../img/index-head-info-bg-02@2x.png);
	background-size: 100% 100%;
}
.head-area .head-info .head-info-item.info-item-bought{
	background: url(../img/index-head-info-bg-03@2x.png);
	background-size: 100% 100%;
}
.head-area .head-info-item .head-info-text{
	width: 100%;
	height: 100%;
	line-height: 20px;
	font-size: 7px;
	color: #b2eaff;
	overflow: hidden;
}
.head-area .head-info-item.info-item-user .head-info-text{
	padding-top: 4px;
	line-height: 16px;
}
.head-area .head-info-item.info-item-saled .head-info-text{
	padding-top: 2px;
	line-height: 18px;
}
.pool-group a.pool-item{
	display: block;
}
.pool-group .pool-transaction{
	position: absolute;
	top: 142px;
	right: 20px;
}
.pool-group .pool-computing-power{
	position: absolute;
	top: 213px;
	left: 45px;
}
.pool-group .pool-labour-union{
	position: absolute;
	top: 334px;
	left: 150px;
}
.index-btn-group{
	width: 100%;
	padding: 0 3px 3px 3px;
	position: absolute;
	bottom: 0;
	display: flex;
}
.index-btn-group .index-btn-item a{
	display: block;
}
.index-btn-group .index-btn-item{
	padding: 0 2px;
	flex: 1;
}
.index-btn-group .index-btn-item img{
	width: 100%;
}

